In [4]:
import pandas as pd

In [11]:
sample01 = pd.read_excel("data/2014년 성남벤처넷 성남기업 회원현황.xls"
                        , header = 0
                        #, skipfooter = 1
                        , usecols = "a:r")
sample01.head()

,순,을지대,세이브존,모란역,야탑역,이매역,서현역,인천공항,T2,순.1,T2.1,인천공항.1,서현역.1,이매역.1,야탑역.1,모란역.1,세이브존.1,을지대.1
0,1,NaN,NaN,NaN,NaN,NaN,04:00,05:10,NaN,1,NaN,05:20,06:30,06:35,06:40,06:45,06:50,06:56
1,2,NaN,NaN,NaN,NaN,NaN,04:10,05:10,05:30,2,05:40,06:00,07:10,07:15,07:20,07:25,07:30,07:36
2,3,NaN,NaN,NaN,04:30,04:35,04:40,05:50,06:10,3,06:15,06:35,07:45,07:50,07:55,08:00,08:05,08:11
3,4,04:34,04:40,04:45,04:50,04:55,05:00,06:10,06:30,4,06:40,07:00,08:10,08:15,08:20,08:25,08:30,08:36
4,5,04:54,05:00,05:05,05:10,05:15,05:20,06:30,06:50,5,07:00,07:20,08:30,08:35,08:40,08:45,08:50,08:56

In [12]:
sample01.tail()

,순,을지대,세이브존,모란역,야탑역,이매역,서현역,인천공항,T2,순.1,T2.1,인천공항.1,서현역.1,이매역.1,야탑역.1,모란역.1,세이브존.1,을지대.1
33,34,17:34,17:40,17:45,17:50,17:55,18:00,19:10,19:30,34,19:45,20:05,21:15,21:20,21:25,21:30,21:35,21:41
34,35,18:04,18:10,18:15,18:20,18:25,18:30,19:40,20:00,35,20:15,20:35,21:45,21:50,21:55,22:00,22:05,22:11
35,36,18:44,18:50,18:55,19:00,19:05,19:10,20:20,20:40,36,20:50,21:10,22:20,22:25,22:30,22:35,22:40,22:46
36,37,19:24,19:30,19:35,19:40,19:45,19:50,21:00,21:20,37,21:30,21:50,23:00,23:05,23:10,23:15,23:20,23:26
37,38,20:04,20:10,20:15,20:20,20:25,20:30,21:40,22:00,38,22:10,22:30,23:40,23:45,23:50,23:55,00:00,00:06

In [13]:
sample01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순       38 non-null     int64
 1   을지대     35 non-null     object
 2   세이브존    35 non-null     object
 3   모란역     35 non-null     object
 4   야탑역     36 non-null     object
 5   이매역     36 non-null     object
 6   서현역     38 non-null     object
 7   인천공항    38 non-null     object
 8   T2      37 non-null     object
 9   순.1     38 non-null     int64
 10  T2.1    37 non-null     object
 11  인천공항.1  38 non-null     object
 12  서현역.1   38 non-null     object
 13  이매역.1   38 non-null     object
 14  야탑역.1   38 non-null     object
 15  모란역.1   38 non-null     object
 16  세이브존.1  38 non-null     object
 17  을지대.1   38 non-null     object
dtypes: int64(2), object(16)
memory usage: 5.5+ KB

In [14]:
sample01.describe()

               순        순.1
count  38.000000  38.000000
mean   19.500000  19.500000
std    11.113055  11.113055
min     1.000000   1.000000
25%    10.250000  10.250000
50%    19.500000  19.500000
75%    28.750000  28.750000
max    38.000000  38.000000

In [15]:
sample01

,순,을지대,세이브존,모란역,야탑역,이매역,서현역,인천공항,T2,순.1,T2.1,인천공항.1,서현역.1,이매역.1,야탑역.1,모란역.1,세이브존.1,을지대.1
0,1,NaN,NaN,NaN,NaN,NaN,04:00,05:10,NaN,1,NaN,05:20,06:30,06:35,06:40,06:45,06:50,06:56
1,2,NaN,NaN,NaN,NaN,NaN,04:10,05:10,05:30,2,05:40,06:00,07:10,07:15,07:20,07:25,07:30,07:36
2,3,NaN,NaN,NaN,04:30,04:35,04:40,05:50,06:10,3,06:15,06:35,07:45,07:50,07:55,08:00,08:05,08:11
3,4,04:34,04:40,04:45,04:50,04:55,05:00,06:10,06:30,4,06:40,07:00,08:10,08:15,08:20,08:25,08:30,08:36
4,5,04:54,05:00,05:05,05:10,05:15,05:20,06:30,06:50,5,07:00,07:20,08:30,08:35,08:40,08:45,08:50,08:56
5,6,05:14,05:20,05:25,05:30,05:35,05:40,06:50,07:10,6,07:20,07:40,08:50,08:55,09:00,09:05,09:10,09:16
6,7,05:34,05:40,05:45,05:50,05:55,06:00,07:10,07:30,7,07:40,08:00,09:10,09:15,09:20,09:25,09:30,09:36
7,8,05:54,06:00,06:05,06:10,06:15,06:20,07:30,07:50,8,08:00,08:20,09:30,09:35,09:40,09:45,09:50,09:56
8,9,06:14,06:20,06:25,06:30,06:35,06:40,07:50,08:10,9,08:30,08:50,10:00,10:05,10:10,10:15,10:20,10:26
9,10,06:34,06:40,06:45,06:50,06:55,07:00,08:10,08:30,10,09:00,09:20,10:30,10:35,10:40,10:45,10:50,10:56
10,11,06:54,07:00,07:05,07:10,07:15,07:20,08:30,08:50,11,09:30,09:50,11:00,11:05,11:10,11:15,11:20,11:26
11,12,07:14,07:20,07:25,07:30,07:35,07:40,08:50,09:10,12,10:00,10:20,11:30,11:35,11:40,11:45,11:50,11:56
12,13,07:34,07:40,07:45,07:50,07:55,08:00,09:10,09:30,13,10:30,10:50,12:00,12:05,12:10,12:15,12:20,12:26
13,14,07:59,08:05,08:10,08:15,08:20,08:25,09:35,09:55,14,11:00,11:20,12:30,12:35,12:40,12:45,12:50,12:56
14,15,08:29,08:35,08:40,08:45,08:50,08:55,10:05,10:25,15,11:30,11:50,13:00,13:05,13:10,13:15,13:20,13:26
15,16,08:59,09:05,09:10,09:15,09:20,09:25,10:35,10:55,16,12:00,12:20,13:30,13:35,13:40,13:45,13:50,13:56
16,17,09:24,09:30,09:35,09:40,09:45,09:50,11:00,11:20,17,12:30,12:50,14:00,14:05,14:10,14:15,14:20,14:26
17,18,09:44,09:50,09:55,10:00,10:05,10:10,11:20,11:40,18,13:00,13:20,14:30,14:35,14:40,14:45,14:50,14:56
18,19,10:09,10:15,10:20,10:25,10:30,10:35,11:45,12:05,19,13:30,13:50,15:00,15:05,15:10,15:15,15:20,15:26
19,20,10:39,10:45,10:50,10:55,11:00,11:05,12:15,12:35,20,14:00,14:20,15:30,15:35,15:40,15:45,15:50,15:56
20,21,11:09,11:15,11:20,11:25,11:30,11:35,12:45,13:05,21,14:30,14:50,16:00,16:05,16:10,16:15,16:20,16:26
21,22,11:39,11:45,11:50,11:55,12:00,12:05,13:15,13:35,22,15:00,15:20,16:30,16:35,16:40,16:45,16:50,16:56
22,23,12:09,12:15,12:20,12:25,12:30,12:35,13:45,14:05,23,15:20,15:40,16:50,16:55,17:00,17:05,17:10,17:16
23,24,12:39,12:45,12:50,12:55,13:00,13:05,14:15,14:35,24,15:40,16:00,17:10,17:15,17:20,17:25,17:30,17:36
24,25,13:09,13:15,13:20,13:25,13:30,13:35,14:45,15:05,25,16:00,16:20,17:30,17:35,17:40,17:45,17:50,17:56
25,26,13:39,13:45,13:50,13:55,14:00,14:05,15:15,15:35,26,16:30,16:50,18:00,18:05,18:10,18:15,18:20,18:26
26,27,14:09,14:15,14:20,14:25,14:30,14:35,15:45,16:05,27,17:00,17:20,18:30,18:35,18:40,18:45,18:50,18:56
27,28,14:39,14:45,14:50,14:55,15:00,15:05,16:15,16:35,28,17:30,17:50,19:00,19:05,19:10,19:15,19:20,19:26
28,29,15:09,15:15,15:20,15:25,15:30,15:35,16:45,17:05,29,17:50,18:10,19:20,19:25,19:30,19:35,19:40,19:46
29,30,15:39,15:45,15:50,15:55,16:00,16:05,17:15,17:35,30,18:10,18:30,19:40,19:45,19:50,19:55,20:00,20:06
30,31,16:04,16:10,16:15,16:20,16:25,16:30,17:40,18:00,31,18:30,18:50,20:00,20:05,20:10,20:15,20:20,20:26
31,32,16:34,16:40,16:45,16:50,16:55,17:00,18:10,18:30,32,18:50,19:10,20:20,20:25,20:30,20:35,20:40,20:46
32,33,17:04,17:10,17:15,17:20,17:25,17:30,18:40,19:00,33,19:15,19:35,20:45,20:50,20:55,21:00,21:05,21:11
33,34,17:34,17:40,17:45,17:50,17:55,18:00,19:10,19:30,34,19:45,20:05,21:15,21:20,21:25,21:30,21:35,21:41
34,35,18:04,18:10,18:15,18:20,18:25,18:30,19:40,20:00,35,20:15,20:35,21:45,21:50,21:55,22:00,22:05,22:11
35,36,18:44,18:50,18:55,19:00,19:05,19:10,20:20,20:40,36,20:50,21:10,22:20,22:25,22:30,22:35,22:40,22:46
36,37,19:24,19:30,19:35,19:40,19:45,19:50,21:00,21:20,37,21:30,21:50,23:00,23:05,23:10,23:15,23:20,23:26
37,38,20:04,20:10,20:15,20:20,20:25,20:30,21:40,22:00,38,22:10,22:30,23:40,23:45,23:50,23:55,00:00,00:06

In [17]:
sample01["을지대.1"]

0     06:56
1     07:36
2     08:11
3     08:36
4     08:56
5     09:16
6     09:36
7     09:56
8     10:26
9     10:56
10    11:26
11    11:56
12    12:26
13    12:56
14    13:26
15    13:56
16    14:26
17    14:56
18    15:26
19    15:56
20    16:26
21    16:56
22    17:16
23    17:36
24    17:56
25    18:26
26    18:56
27    19:26
28    19:46
29    20:06
30    20:26
31    20:46
32    21:11
33    21:41
34    22:11
35    22:46
36    23:26
37    00:06
Name: 을지대.1, dtype: object

In [26]:
condition = ( sample01["서현역"] < "14:00" )
condition

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
Name: 서현역, dtype: bool

In [27]:
sample01[condition]

,순,을지대,세이브존,모란역,야탑역,이매역,서현역,인천공항,T2,순.1,T2.1,인천공항.1,서현역.1,이매역.1,야탑역.1,모란역.1,세이브존.1,을지대.1
0,1,NaN,NaN,NaN,NaN,NaN,04:00,05:10,NaN,1,NaN,05:20,06:30,06:35,06:40,06:45,06:50,14
1,2,NaN,NaN,NaN,NaN,NaN,04:10,05:10,05:30,2,05:40,06:00,07:10,07:15,07:20,07:25,07:30,14
2,3,NaN,NaN,NaN,04:30,04:35,04:40,05:50,06:10,3,06:15,06:35,07:45,07:50,07:55,08:00,08:05,14
3,4,04:34,04:40,04:45,04:50,04:55,05:00,06:10,06:30,4,06:40,07:00,08:10,08:15,08:20,08:25,08:30,14
4,5,04:54,05:00,05:05,05:10,05:15,05:20,06:30,06:50,5,07:00,07:20,08:30,08:35,08:40,08:45,08:50,14
5,6,05:14,05:20,05:25,05:30,05:35,05:40,06:50,07:10,6,07:20,07:40,08:50,08:55,09:00,09:05,09:10,14
6,7,05:34,05:40,05:45,05:50,05:55,06:00,07:10,07:30,7,07:40,08:00,09:10,09:15,09:20,09:25,09:30,14
7,8,05:54,06:00,06:05,06:10,06:15,06:20,07:30,07:50,8,08:00,08:20,09:30,09:35,09:40,09:45,09:50,14
8,9,06:14,06:20,06:25,06:30,06:35,06:40,07:50,08:10,9,08:30,08:50,10:00,10:05,10:10,10:15,10:20,14
9,10,06:34,06:40,06:45,06:50,06:55,07:00,08:10,08:30,10,09:00,09:20,10:30,10:35,10:40,10:45,10:50,14
10,11,06:54,07:00,07:05,07:10,07:15,07:20,08:30,08:50,11,09:30,09:50,11:00,11:05,11:10,11:15,11:20,14
11,12,07:14,07:20,07:25,07:30,07:35,07:40,08:50,09:10,12,10:00,10:20,11:30,11:35,11:40,11:45,11:50,14
12,13,07:34,07:40,07:45,07:50,07:55,08:00,09:10,09:30,13,10:30,10:50,12:00,12:05,12:10,12:15,12:20,14
13,14,07:59,08:05,08:10,08:15,08:20,08:25,09:35,09:55,14,11:00,11:20,12:30,12:35,12:40,12:45,12:50,14
14,15,08:29,08:35,08:40,08:45,08:50,08:55,10:05,10:25,15,11:30,11:50,13:00,13:05,13:10,13:15,13:20,14
15,16,08:59,09:05,09:10,09:15,09:20,09:25,10:35,10:55,16,12:00,12:20,13:30,13:35,13:40,13:45,13:50,14
16,17,09:24,09:30,09:35,09:40,09:45,09:50,11:00,11:20,17,12:30,12:50,14:00,14:05,14:10,14:15,14:20,14
17,18,09:44,09:50,09:55,10:00,10:05,10:10,11:20,11:40,18,13:00,13:20,14:30,14:35,14:40,14:45,14:50,14
18,19,10:09,10:15,10:20,10:25,10:30,10:35,11:45,12:05,19,13:30,13:50,15:00,15:05,15:10,15:15,15:20,14
19,20,10:39,10:45,10:50,10:55,11:00,11:05,12:15,12:35,20,14:00,14:20,15:30,15:35,15:40,15:45,15:50,14
20,21,11:09,11:15,11:20,11:25,11:30,11:35,12:45,13:05,21,14:30,14:50,16:00,16:05,16:10,16:15,16:20,14
21,22,11:39,11:45,11:50,11:55,12:00,12:05,13:15,13:35,22,15:00,15:20,16:30,16:35,16:40,16:45,16:50,14
22,23,12:09,12:15,12:20,12:25,12:30,12:35,13:45,14:05,23,15:20,15:40,16:50,16:55,17:00,17:05,17:10,14
23,24,12:39,12:45,12:50,12:55,13:00,13:05,14:15,14:35,24,15:40,16:00,17:10,17:15,17:20,17:25,17:30,14
24,25,13:09,13:15,13:20,13:25,13:30,13:35,14:45,15:05,25,16:00,16:20,17:30,17:35,17:40,17:45,17:50,14